.selector {
    width: 15em;
    font-size: large;
}

.description {
    width: 7em;
    display: inline-block;
    margin: 0.1em;
}

.text {
    min-width: 55em;
    min-height: 20em;
    border: 1px solid black;
}
